##  Writing `zip` files to a Pandas DF as a `csv` file. 
- 0. Download and inspect the zip file from the source using `wget.download()` method.
- 1. Move the zip file to its final data directory destination.
- 2. Extract the `Year` value from text file.
- 3. `Join` all dfs and create `csv` file.
- 4. Clean up.

In [1]:
%pip install wget --quiet

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import os
from glob import glob
import wget
from zipfile import ZipFile

- 0. Download and inspect the zip file from the source using `wget.download()` method.

In [3]:
url = 'http://www.ssa.gov/OACT/babynames/names.zip'
babynames = wget.download(url)
babynames

'names.zip'

- 1. Move the zip file to its final data directory destination.

In [4]:
!mv names.zip data

In [5]:
!unzip data/names.zip

Archive:  data/names.zip
  inflating: yob1880.txt
  inflating: yob1881.txt
  inflating: yob1882.txt
  inflating: yob1883.txt
  inflating: yob1884.txt
  inflating: yob1885.txt
  inflating: yob1886.txt
  inflating: yob1887.txt
  inflating: yob1888.txt
  inflating: yob1889.txt
  inflating: yob1890.txt
  inflating: yob1891.txt
  inflating: yob1892.txt
  inflating: yob1893.txt
  inflating: yob1894.txt
  inflating: yob1895.txt
  inflating: yob1896.txt
  inflating: yob1897.txt
  inflating: yob1898.txt
  inflating: yob1899.txt
  inflating: yob1900.txt
  inflating: yob1901.txt
  inflating: yob1902.txt
  inflating: yob1903.txt
  inflating: yob1904.txt
  inflating: yob1905.txt
  inflating: yob1906.txt
  inflating: yob1907.txt
  inflating: yob1908.txt
  inflating: yob1909.txt
  inflating: yob1910.txt
  inflating: yob1911.txt
  inflating: yob1912.txt
  inflating: yob1913.txt
  inflating: yob1914.txt
  inflating: yob1915.txt
  inflating: yob1916.txt
  inflating: yob1917.txt
  inflating: yob1918.txt
  inflating: yob1919.txt
  inflating: yob1920.txt
  inflating: yob1921.txt
  inflating: yob1922.txt
  inflating: yob1923.txt
  inflating: yob1924.txt
  inflating: yob1925.txt
  inflating: yob1926.txt
  inflating: yob1927.txt
  inflating: yob1928.txt
  inflating: yob1929.txt
  inflating: yob1930.txt
  inflating: yob1931.txt
  inflating: yob1932.txt
  inflating: yob1933.txt
  inflating: yob1934.txt
  inflating: yob1935.txt
  inflating: yob1936.txt
  inflating: yob1937.txt
  inflating: yob1938.txt
  inflating: yob1939.txt
  inflating: yob1940.txt
  inflating: yob1941.txt
  inflating: yob1942.txt
  inflating: yob1943.txt
  inflating: yob1944.txt
  inflating: yob1945.txt
  inflating: yob1946.txt
  inflating: yob1947.txt
  inflating: yob1948.txt
  inflating: yob1949.txt
  inflating: yob1950.txt
  inflating: yob1951.txt
  inflating: yob1952.txt
  inflating: yob1953.txt
  inflating: yob1954.txt
  inflating: yob1955.txt
  inflating: yob1956.txt
  inflating: yob1957.txt
  inflating: yob1958.txt
  inflating: yob1959.txt
  inflating: yob1960.txt
  inflating: yob1961.txt
  inflating: yob1962.txt
  inflating: yob1963.txt
  inflating: yob1964.txt
  inflating: yob1965.txt
  inflating: yob1966.txt
  inflating: yob1967.txt
  inflating: yob1968.txt
  inflating: yob1969.txt
  inflating: yob1970.txt
  inflating: yob1971.txt
  inflating: yob1972.txt
  inflating: yob1973.txt
  inflating: yob1974.txt
  inflating: yob1975.txt
  inflating: yob1976.txt
  inflating: yob1977.txt
  inflating: yob1978.txt
  inflating: yob1979.txt
  inflating: yob1980.txt
  inflating: yob1981.txt
  inflating: yob1982.txt
  inflating: yob1983.txt
  inflating: yob1984.txt
  inflating: yob1985.txt
  inflating: yob1986.txt
  inflating: yob1987.txt
  inflating: yob1988.txt
  inflating: yob1989.txt
  inflating: yob1990.txt
  inflating: yob1991.txt
  inflating: yob1992.txt
  inflating: yob1993.txt
  inflating: yob1994.txt
  inflating: yob1995.txt
  inflating: yob1996.txt
  inflating: yob1997.txt
  inflating: yob1998.txt
  inflating: yob1999.txt
  inflating: yob2000.txt
  inflating: yob2001.txt
  inflating: yob2002.txt
  inflating: yob2003.txt
  inflating: yob2004.txt
  inflating: yob2005.txt
  inflating: yob2006.txt
  inflating: yob2007.txt
  inflating: yob2008.txt
  inflating: yob2009.txt
  inflating: yob2010.txt
  inflating: yob2011.txt
  inflating: yob2012.txt
  inflating: yob2013.txt
  inflating: yob2014.txt
  inflating: yob2015.txt
  inflating: yob2016.txt
  inflating: yob2017.txt
  inflating: yob2018.txt
  inflating: yob2019.txt
  inflating: yob2020.txt
  inflating: yob2021.txt
  inflating: NationalReadMe.pdf

In [6]:
name_files = glob('*.txt')
name_files

['yob2000.txt',
 'yob2014.txt',
 'yob1938.txt',
 'yob1910.txt',
 'yob1904.txt',
 'yob1905.txt',
 'yob1911.txt',
 'yob1939.txt',
 'yob2015.txt',
 'yob2001.txt',
 'yob2017.txt',
 'yob2003.txt',
 'yob1907.txt',
 'yob1913.txt',
 'yob1898.txt',
 'yob1899.txt',
 'yob1912.txt',
 'yob1906.txt',
 'yob2002.txt',
 'yob2016.txt',
 'yob2012.txt',
 'yob2006.txt',
 'yob1902.txt',
 'yob1916.txt',
 'yob1889.txt',
 'yob1888.txt',
 'yob1917.txt',
 'yob1903.txt',
 'yob2007.txt',
 'yob2013.txt',
 'yob2005.txt',
 'yob2011.txt',
 'yob1915.txt',
 'yob1901.txt',
 'yob1929.txt',
 'yob1928.txt',
 'yob1900.txt',
 'yob1914.txt',
 'yob2010.txt',
 'yob2004.txt',
 'yob1973.txt',
 'yob1967.txt',
 'yob1998.txt',
 'yob1999.txt',
 'yob1966.txt',
 'yob1972.txt',
 'yob1958.txt',
 'yob1964.txt',
 'yob1970.txt',
 'yob1971.txt',
 'yob1965.txt',
 'yob1959.txt',
 'yob1961.txt',
 'yob1975.txt',
 'yob1949.txt',
 'yob1948.txt',
 'yob1974.txt',
 'yob1960.txt',
 'yob1976.txt',
 'yob1962.txt',
 'yob1989.txt',
 'yob1988.txt',
 'yob1963.txt',
 'yob1977.txt',
 'yob1952.txt',
 'yob1946.txt',
 'yob1991.txt',
 'yob1985.txt',
 'yob1984.txt',
 'yob1990.txt',
 'yob1947.txt',
 'yob1953.txt',
 'yob1979.txt',
 'yob1945.txt',
 'yob1951.txt',
 'yob1986.txt',
 'yob1992.txt',
 'yob1993.txt',
 'yob1987.txt',
 'yob1950.txt',
 'yob1944.txt',
 'yob1978.txt',
 'yob1940.txt',
 'yob1954.txt',
 'yob1968.txt',
 'yob1983.txt',
 'yob1997.txt',
 'yob1996.txt',
 'yob1982.txt',
 'yob1969.txt',
 'yob1955.txt',
 'yob1941.txt',
 'yob1957.txt',
 'yob1943.txt',
 'yob1994.txt',
 'yob1980.txt',
 'yob1981.txt',
 'yob1995.txt',
 'yob1942.txt',
 'yob1956.txt',
 'yob2009.txt',
 'yob2021.txt',
 'yob1919.txt',
 'yob1931.txt',
 'yob1925.txt',
 'yob1886.txt',
 'yob1892.txt',
 'yob1893.txt',
 'yob1887.txt',
 'yob1924.txt',
 'yob1930.txt',
 'yob1918.txt',
 'yob2020.txt',
 'yob2008.txt',
 'yob1926.txt',
 'yob1932.txt',
 'yob1891.txt',
 'yob1885.txt',
 'yob1884.txt',
 'yob1890.txt',
 'yob1933.txt',
 'yob1927.txt',
 'yob1923.txt',
 'yob1937.txt',
 'yob1894.txt',
 'yob1880.txt',
 'yob1881.txt',
 'yob1895.txt',
 'yob1936.txt',
 'yob1922.txt',
 'yob2018.txt',
 'yob1934.txt',
 'yob1920.txt',
 'yob1908.txt',
 'yob1883.txt',
 'yob1897.txt',
 'yob1896.txt',
 'yob1882.txt',
 'yob1909.txt',
 'yob1921.txt',
 'yob1935.txt',
 'yob2019.txt']

Create a df from `name_files` using `pd.csv_read()` method.

In [7]:
# sample df
pd.read_csv(name_files[0])

         Emily  F  25957
0       Hannah  F  23085
1      Madison  F  19968
2       Ashley  F  17997
3        Sarah  F  17708
4       Alexis  F  17631
...        ... ..    ...
29770     Zeph  M      5
29771    Zeven  M      5
29772    Ziggy  M      5
29773       Zo  M      5
29774    Zyier  M      5

[29775 rows x 3 columns]

In [8]:
# prevent first row from rendering as header
pd.read_csv(name_files[0], header=None)

             0  1      2
0        Emily  F  25957
1       Hannah  F  23085
2      Madison  F  19968
3       Ashley  F  17997
4        Sarah  F  17708
...        ... ..    ...
29771     Zeph  M      5
29772    Zeven  M      5
29773    Ziggy  M      5
29774       Zo  M      5
29775    Zyier  M      5

[29776 rows x 3 columns]

In [9]:
#rename columns
columns = ['Name', 'Sex', 'Count']
sample_df = pd.read_csv(name_files[0], header=None, names=columns)
sample_df

          Name Sex  Count
0        Emily   F  25957
1       Hannah   F  23085
2      Madison   F  19968
3       Ashley   F  17997
4        Sarah   F  17708
...        ...  ..    ...
29771     Zeph   M      5
29772    Zeven   M      5
29773    Ziggy   M      5
29774       Zo   M      5
29775    Zyier   M      5

[29776 rows x 3 columns]

- 2. Extract the `Year` value from text file.

In [10]:
year_str = name_files[0]
year_str

'yob2000.txt'

In [11]:
year_str = year_str[3:7]
year_str

'2000'

In [12]:
year = int(year_str)
year

2000

In [13]:
# assign int year value to a new `Year` column
sample_df['Year'] = year 

sample_df.head()

      Name Sex  Count  Year
0    Emily   F  25957  2000
1   Hannah   F  23085  2000
2  Madison   F  19968  2000
3   Ashley   F  17997  2000
4    Sarah   F  17708  2000

In [14]:
# check data types
sample_df.dtypes

Name     object
Sex      object
Count     int64
Year      int64
dtype: object

3. `Join` all dfs and create `csv` file.

In [15]:
all_dfs = []

try:
    for name_file in name_files:
        df = pd.read_csv(name_file, header=None, names =['Name', 'Sex', 'Count'])
        df['Year'] = int(name_file[3:7])
        all_dfs.append(df)
except Exception as e:
    print(e)
else:
    print(f'{len(all_dfs)} dfs are ready!')

142 dfs are ready!

In [16]:
# concatenate all dataframes
final_df = pd.concat(all_dfs)

final_df.shape

(2052781, 4)

In [17]:
final_df.to_csv('data/cleaned/SocialSecurityNamesAllYears.csv', index=False)

- 4. Clean up.

Remove unzipped files using `os.remove`

In [18]:
files = glob('*.txt')
files

['yob2000.txt',
 'yob2014.txt',
 'yob1938.txt',
 'yob1910.txt',
 'yob1904.txt',
 'yob1905.txt',
 'yob1911.txt',
 'yob1939.txt',
 'yob2015.txt',
 'yob2001.txt',
 'yob2017.txt',
 'yob2003.txt',
 'yob1907.txt',
 'yob1913.txt',
 'yob1898.txt',
 'yob1899.txt',
 'yob1912.txt',
 'yob1906.txt',
 'yob2002.txt',
 'yob2016.txt',
 'yob2012.txt',
 'yob2006.txt',
 'yob1902.txt',
 'yob1916.txt',
 'yob1889.txt',
 'yob1888.txt',
 'yob1917.txt',
 'yob1903.txt',
 'yob2007.txt',
 'yob2013.txt',
 'yob2005.txt',
 'yob2011.txt',
 'yob1915.txt',
 'yob1901.txt',
 'yob1929.txt',
 'yob1928.txt',
 'yob1900.txt',
 'yob1914.txt',
 'yob2010.txt',
 'yob2004.txt',
 'yob1973.txt',
 'yob1967.txt',
 'yob1998.txt',
 'yob1999.txt',
 'yob1966.txt',
 'yob1972.txt',
 'yob1958.txt',
 'yob1964.txt',
 'yob1970.txt',
 'yob1971.txt',
 'yob1965.txt',
 'yob1959.txt',
 'yob1961.txt',
 'yob1975.txt',
 'yob1949.txt',
 'yob1948.txt',
 'yob1974.txt',
 'yob1960.txt',
 'yob1976.txt',
 'yob1962.txt',
 'yob1989.txt',
 'yob1988.txt',
 'yob1963.txt',
 'yob1977.txt',
 'yob1952.txt',
 'yob1946.txt',
 'yob1991.txt',
 'yob1985.txt',
 'yob1984.txt',
 'yob1990.txt',
 'yob1947.txt',
 'yob1953.txt',
 'yob1979.txt',
 'yob1945.txt',
 'yob1951.txt',
 'yob1986.txt',
 'yob1992.txt',
 'yob1993.txt',
 'yob1987.txt',
 'yob1950.txt',
 'yob1944.txt',
 'yob1978.txt',
 'yob1940.txt',
 'yob1954.txt',
 'yob1968.txt',
 'yob1983.txt',
 'yob1997.txt',
 'yob1996.txt',
 'yob1982.txt',
 'yob1969.txt',
 'yob1955.txt',
 'yob1941.txt',
 'yob1957.txt',
 'yob1943.txt',
 'yob1994.txt',
 'yob1980.txt',
 'yob1981.txt',
 'yob1995.txt',
 'yob1942.txt',
 'yob1956.txt',
 'yob2009.txt',
 'yob2021.txt',
 'yob1919.txt',
 'yob1931.txt',
 'yob1925.txt',
 'yob1886.txt',
 'yob1892.txt',
 'yob1893.txt',
 'yob1887.txt',
 'yob1924.txt',
 'yob1930.txt',
 'yob1918.txt',
 'yob2020.txt',
 'yob2008.txt',
 'yob1926.txt',
 'yob1932.txt',
 'yob1891.txt',
 'yob1885.txt',
 'yob1884.txt',
 'yob1890.txt',
 'yob1933.txt',
 'yob1927.txt',
 'yob1923.txt',
 'yob1937.txt',
 'yob1894.txt',
 'yob1880.txt',
 'yob1881.txt',
 'yob1895.txt',
 'yob1936.txt',
 'yob1922.txt',
 'yob2018.txt',
 'yob1934.txt',
 'yob1920.txt',
 'yob1908.txt',
 'yob1883.txt',
 'yob1897.txt',
 'yob1896.txt',
 'yob1882.txt',
 'yob1909.txt',
 'yob1921.txt',
 'yob1935.txt',
 'yob2019.txt']

In [19]:
try:
    files_to_remove = glob('*.txt')
    # add readme to the files_to_remove list
    files_to_remove.append('NationalReadMe.pdf')
    for file in files_to_remove:
        os.remove(file)
except Exception as e:
    print(e)
else:
    print("All text files have been removed!")

All text files have been removed!

In [20]:
os.remove('./data/names.zip')